h1,
h4 {
  color: gray;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: 20px;
}

.quantity {
  background: #3d2e2e66;
}

.quantity input {
  height: 35px;
  margin: 5px 30px;
  width: 50px;
  text-align: center;
}

.quantity__minus {
  padding-left: 35px ;
}
.quantity__plus {
  padding-right: 35px;
}
